input {
  background-color: var(--color-darker-blue);
  border: 1px solid var(--color-blue);
  color: var(--color-light-blue);
  outline: 0;
  padding: var(--space-small-px);
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: all;
}

input:focus {
  outline: 0;
  border: 1px solid var(--color-light-blue);
  box-shadow: 0 0 10px rgba(150, 255, 255, 0.6);
}

input::selection {
  background: var(--color-blue);
}

.FormField-label,
.FormField-controls {
  display: inline-block;
}

.FormField-label {
  width: 100px;
}

.FormField-controls {
  margin-bottom: var(--space-medium-px);
}

.FormField-error {
  color: var(--color-red);
  margin-bottom: var(--space-medium-px);
}

::-webkit-input-placeholder {
  color: rgba(100, 100, 100, 0.8);
}
